@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 7px rgba(62, 61, 61, 0.1);
  padding: 15px 40px;
  background-color: white;
}

.navbar--logo {
  width: 90px;
}

.hero {
  text-align: center;
  padding: 40px;
}

.hero--image {
  max-width: 90%;
}

.hero > p {
  text-align: start;
}

.hero--title {
  margin-top: 60px;
  font-weight: 600;
  font-size: 28px;
}

.hero--title-detail {
  margin-top: -10px;
  /* padding-right: 10%; */
  font-weight: 300;
  font-size: 16px;
}

.card {
  padding: 40px;
}

.card--container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.card--item {
  width: 250px;
  flex-shrink: 0;
  margin-right: 20px;
  position: relative;
  white-space: nowrap;
}

.card--photo {
  width: 100%;
  height: 300px;
}

.card--status {
  position: absolute;
  top: 10px;
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}

.card--star {
  font-size: 16px;
  display: flex;
  margin: -10px 0;
}

.card--star > img {
  width: 20px;
  padding-right: 4px;
}

.star--number {
  color: grey;
}

.card--detail {
  font-weight: 300;
  font-size: 16px;
}

.card--detail, .card--star {
  line-height: 1;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
   /* Tablets */
}

@media only screen and (min-width: 992px) {
  /* Desktop */
  .navbar {
    padding: 15px 10%;
  }

  .navbar--logo {
    width: 120px;
  }

  .hero {
    padding: 60px 10%;
  }

  .hero--image {
    max-width: 80%;
  }

  .hero--title {
    font-size: 36px;
  }

  .hero--title-detail {
    font-size: 18px;
  }

  .card {
    padding: 50px 10%;
  }

  .card--container {
    overflow-x: auto;
  }

  .card--item {
    max-width: 350px;
    margin-right: 40px;
  }

  .card--status, .card--star, .card--detail {
    font-size: 16px;
  }

  .card--star, .card--detail {
    line-height: 20px;
  }
}