@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  transition: ease-in-out .1s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: rgb(92, 189, 200);
}

.image {
  width: 60px;
  margin-left: 0.4em;
}

.toggle-mode {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.box-mode {
  width: 35px;
  height: 18px;
  margin: 0 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.round-mode {
  width: 16px;
  margin: 0 2px;
  height: 16px;
  border-radius: 50%;
}

/* .project-name {
  margin-right: 1em;
} */

.main {
  padding: 1em;
  padding: 2em;
  height: 100vh;
}

.bg-logo {
  position: fixed;
  width: 600px;
  left: 40%;
  opacity: 5%;
}

.main>ul {
  list-style-type: none;
}

.main>ul>li::before {
  content: "\2022";
  color: rgb(92, 189, 200);
  font-weight: bolder;
  font-size: x-large;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.main>ul>li {
  line-height: 40px;
}

/* 
.footer {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
} */