@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  border: 1px solid white;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: rgb(55, 56, 55);
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 5%;
  background-color: rgb(27, 27, 27);
  width: 430px;
}

.info {
  text-align: center;
  width: inherit;
}

.info--img {
  width: inherit;
  height: 380px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.info--name {
  font-size: xx-large;
  margin-top: 40px;
}

.info--title {
  margin-top: -20px;
  color: rgb(248, 210, 167);
}

